/generator/vendor/
/generator/build/
/generator/doc/doc-en/
/generator/doc/entities/generated.ent
/composer.lock
/vendor/
/generator/tests/rector/0.4/composer.lock
/generator/tests/rector/0.4/vendor/
