/generator/vendor/
/generator/build/
/generator/doc/doc-en/
/generator/doc/entities/generated.ent
/composer.lock
vendor/
/generator/tests/rector/0.5/composer.lock
/generator/tests/rector/0.6/composer.lock
