/generator/vendor/
/generator/build/
/generator/doc/doc-en/
/generator/doc/entities/generated.ent
/composer.lock
vendor/
/generator/composer.lock
/generator/tests/rector/composer.lock
/generator/.phpunit.cache/
.phpunit.result.cache
