includes:
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    paths:
        - ./lib
    # The level 9 is the highest level (with check for mixed type)
    level: 8
    ignoreErrors:
        # A lot of functions are in extensions so it is ok not to find those
