# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: "Rector Continuous Integration"

on:
  - "pull_request"
  - "push"

jobs:

  rector-continuous-integration:
    name: "Check if refactoring can be done with rector/rector:~0.7.0"

    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        php-version:
          - "7.2"
          - "7.3"
          - "7.4"

        dependencies:
          - "highest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP with extensions"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"

      - name: "Composer install"
        run: "composer install && composer rector && composer test"
        working-directory: "generator/tests/rector/0.7"

      - name: "Run rector"
        run: "composer rector"
        working-directory: "generator/tests/rector/0.7"

      - name: "Run tests"
        run: "composer test"
        working-directory: "generator/tests/rector/0.7"

